.logo-img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.index-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    -webkit-filter: grayscale(100%);
}

.center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    margin-bottom: -20px;
    width: 100%;
}



.profile-pic {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}


	
h1 {
	font-family: 'Pinyon Script', cursive;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-center {
  text-align: center;
}

.logo-text {
	font-size: 60px;
    background-color: white;
    margin-bottom: -25px;
}

.signin-form {
    margin: 20px;
}

.signup-form {
    margin: 20px;
}

.signup-card {
    margin-left: 50px;
}

#error {
	color: red;
}

#profile-pic-comment {
	font-size: 50px;
}

.match-photo {
	height: auto; 
    width: auto; 
    max-width: 85px; 
    max-height: 85px;
    margin-left: -13px;
    margin-top: 3px;
    margin-bottom: 5px;
 
}

.match-card {
	margin-bottom: 10px;
}

.msg-button {
    width: 85px;
    margin-left: -13px;
}

.match-name {
    margin-top: 20px;
}

.match-card {
    width: 500px;
}